body {
    margin: 0;
    padding: 0;
}
.servh{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 40px;
    color: #1f2937;
}
#ser
{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
}
#regular{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;

}
#regular:hover
{
    color: #1f2937;
    background-color: #e5e7eb;
    cursor: pointer;
}
#home
{
   font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;

}
#home:hover
{
    color: #1f2937;
    background-color: #e5e7eb;
    cursor: pointer;
}
#emergency
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;

}
#emergency:hover
{
    color: #1f2937;
    background-color: #e5e7eb;
    cursor: pointer;
}